<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  
  <title>Galería - Barbearia Ficticia</title>
  <link rel="stylesheet" href="../css/estilos.css">
  <link href="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/css/lightbox.min.css" rel="stylesheet">

</head>
<body>
<header id="header">
  <nav id="nav-menu">
    <div class="logo-container">
      <img src="../img/LOGO_BARBEARIA.webp" alt="Logo Barbearia Ficticia" id="logo-img">
      <h1 class="logo-text">Barbearia FICTICIA</h1>
    </div>
    <ul class="nav-list">
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="portfolio.html" class="active">Galería</a></li>
      <li><a href="presupuesto.html">Presupuesto</a></li>
      <li><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>
</header>

<main id="main-content">
  <h2>Galería</h2>
  <section id="gallery" class="grid-gallery">

  </section>
</main>

<footer id="footer">
  <p>Síguenos en:</p>
  <a href="https://www.facebook.com" target="_blank" class="social-link"><img src="../img/facebook-logo.png" alt="Facebook"></a>
  <a href="https://www.instagram.com" target="_blank" class="social-link"><img src="../img/instagram-logo.png" alt="Instagram"></a>
  <p>Dirección: Calle Ejemplo, 123, Ciudad</p>
  <p><a href="aviso_legal.html" class="legal-link">Aviso legal</a></p>
</footer>

<!-- Scripts -->
<script src="../js/galeria.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightbox2@2/dist/js/lightbox.min.js"></script>
</body>
</html>
